.loginBg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #16a085;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentWrapperLogin,
.contentWrapperRegistered {
  position: relative;
  width: 400px;
  box-shadow: 0 0 10px #11866f;
  border-radius: 5px;
  overflow: hidden;
}

.contentWrapperLogin {
  height: 400px;
}

.contentWrapperRegistered {
  height: 520px;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.formTitle {
  width: 260px;
  color: #45bda6;
  text-align: center;
  font-size: 20px;
  line-height: 80px;
  font-weight: bold;
}

.switchButton {
  position: absolute;
  height: 100px;
  width: 100px;
  right: -56px;
  bottom: -62px;
  background: #45bda6;
  color: #8acfc2;
  font-size: 12px;
  cursor: pointer;
  border-radius: 50%;
  padding: 15px 0 0 15px;

  &:hover {
    color: #ffffff;
  }
}