@import '~@/assets/less/color.less';

.drawer {
  :global {
    .ant-drawer-close {
      color: @green  !important;
    }
  }
}

.content {
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  min-height: 100%;
  margin: 0 auto;
  padding: 30px 20px;
  overflow: hidden;
  box-shadow: 0 0 5px @green;
}
