.content {
  box-sizing      : border-box;
  width           : 1000px;
  max-width       : 100%;
  min-height      : 100%;
  margin          : 0 auto;
  padding         : 30px 20px;
  overflow        : hidden;
  background-color: #fff;
  border-right    : solid 1px #eee;
  border-left     : solid 1px #eee;
}