@import '~@/assets/less/color.less';
@import '~@/assets/less/scrollbar.less';
@import '~@/assets/less/menu.less';

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: "color 9999s ease-out, background-color 9999s ease-out";
  transition-delay: 9999s;
}

.ant-modal-close-x,
.ant-drawer-close {
  color: #ffffff !important;

  .anticon-close {
    transition: all 0.4s ease-in-out !important;
  }
}

.ant-modal-close-x:hover,
.ant-drawer-close:hover {
  .anticon-close {
    transform: rotate(360deg) !important;
  }
}

.ant-modal-header,
.ant-drawer-header {
  background: @green  !important;
}

.ant-drawer-title,
.ant-modal-title {
  color: #ffffff !important;
}

.ant-modal-header::after {
  content: '';
  position: absolute;
  top: -65px;
  left: 50%;
  transform: translate(-50%, 0);
  height: 100px;
  width: 100px;
  background: url('./assets/images/qinglong.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.ant-message {
  z-index: 999999 !important;
}
